In [406]:
import pandas as pd
import json

# use in termminal to convert fit file to json
# $ fitjson --pretty -o out_file.json in_file.fit

df= pd.read_json('fit_files/fit_1.json')

df[df['fields'].isna()]
df=df.drop(df[df['fields'].isna()].index)
df =df.reset_index(drop=True)

df=df[['field_defs','fields']]

In [407]:
# Get column names
col_names =[]
for i in range(len(df['fields'][0])):
    col_names.append(df['fields'][0][i]['name'])

# Loop through to make the groups into rows
dict_data={}
series_data=[]

for i in range(2,len(df['fields'])):
    for j in range(0,19):
        series_data.append(df['fields'][i][j]['value'])
    # print(series_data)
    dict_data[i-1] =series_data

    series_data =[]

df_g1=pd.DataFrame.from_dict(data = dict_data, orient='index', columns=col_names)
df_g1[63:67]

,timestamp,position_lat,position_long,distance,enhanced_altitude,altitude,enhanced_speed,speed,unknown_87,unknown_88,heart_rate,cadence,temperature,fractional_cadence,eE,rE,pwr,tpRE,frnrRE
64,2022-05-04T13:46:58+00:00,38.794659,-77.045835,0.21041,-5.6,-5.6,11.9916,11.9916,None,300,132,91,25,0.0,716.105347,139.818649,NaN,NaN,NaN
65,2022-05-04T13:46:59+00:00,38.794628,-77.045842,0.21386,-5.8,-5.8,11.9916,11.9916,None,300,132,91,25,0.0,751.278992,139.818649,NaN,1.937928,153.697464
66,2022-05-04T13:47:00+00:00,38.794598,-77.045848,0.21725,-5.8,-5.8,11.9916,11.9916,None,300,133,90,24,0.0,751.278992,139.818649,NaN,1.943371,153.951202
67,2022-05-04T13:47:01+00:00,38.794567,-77.045855,0.22075,-6.0,-6.0,11.9916,11.9916,None,300,133,90,24,0.0,751.278992,139.818649,NaN,1.948815,154.175873

In [403]:
filepath = 'fit_files/run_data.csv'
df_g1.to_csv(filepath)

In [404]:
df_g1.describe()

,position_lat,position_long,distance,enhanced_altitude,altitude,enhanced_speed,speed,unknown_88,heart_rate,cadence,temperature,fractional_cadence,eE,rE,pwr,tpRE,frnrRE
count,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2901.000000,2416.000000,434.000000,2850.000000
mean,38.777805,-77.051231,4.848558,-12.195264,-12.195264,11.970041,11.970041,265.477008,147.746740,91.792382,20.882636,0.000515,131.701371,713.641739,115.447320,1.798843,22.549946
std,0.011430,0.002291,2.822829,3.584318,3.584318,0.848445,0.848445,75.595784,7.185853,3.187977,1.121806,0.016038,292.819427,267.568119,10.438052,0.061271,49.310758
min,38.757844,-77.054434,0.003930,-15.800000,-15.800000,0.000000,0.000000,100.000000,85.000000,0.000000,20.000000,0.000000,-1.000000,18.543001,73.633644,1.474081,1.058193
25%,38.767587,-77.053005,2.411130,-14.400000,-14.400000,11.620800,11.620800,300.000000,144.000000,91.000000,20.000000,0.000000,-1.000000,790.657654,109.597656,1.769215,1.632968
50%,38.778310,-77.051746,4.839110,-13.600000,-13.600000,12.024000,12.024000,300.000000,148.000000,92.000000,21.000000,0.000000,0.000000,820.187988,115.438934,1.794938,1.703519
75%,38.788379,-77.049882,7.276667,-12.250000,-12.250000,12.463200,12.463200,300.000000,153.000000,93.000000,21.000000,0.000000,2.000000,850.615540,121.410355,1.825504,1.774347
max,38.796474,-77.045450,9.821110,0.600000,0.600000,13.672800,13.672800,300.000000,162.000000,95.000000,26.000000,0.500000,851.141052,911.346130,143.768555,1.955130,154.598938