In [321]:
import pandas as pd
import json

df= pd.read_json('fit_files/fit_1.json')
df[2:].head()

with open('fit_files/fit_1.json','r') as f:
    data = json.loads(f.read())
df_nested= pd.json_normalize(data[2], record_path=['fields'])

column_names = list(df_nested['name'])

In [322]:
df = pd.read_json('fit_files/fit_1.json')
df=df[2:]

df[df['fields'].isna()]
df=df.drop(df[df['fields'].isna()].index)

df =df.reset_index(drop=True)
df['fields'][3][0]['value']

'2022-05-04T13:45:56+00:00'

In [323]:
range(2,len(df['fields']))

range(2, 2916)

In [326]:
dict_data={}
series_data=[]


for i in range(2,len(df['fields'])):
    for j in range(0,19):
        series_data.append(df['fields'][i][j]['value'])
    # print(series_data)
    dict_data[i-1] =series_data

    series_data =[]

df_g1=pd.DataFrame.from_dict(data = dict_data, orient='index', columns=column_names)
df_g1[20:30]

,timestamp,position_lat,position_long,distance,enhanced_altitude,altitude,enhanced_speed,speed,unknown_87,unknown_88,heart_rate,cadence,temperature,fractional_cadence,eE,rE,pwr,tpRE,frnrRE
21,2022-05-04T13:46:15+00:00,38.795956,-77.045604,0.06379,-4.2,-4.2,11.1960,11.1960,None,100,126,89,26,0.0,670.819702,18.543001,NaN,NaN,NaN
22,2022-05-04T13:46:16+00:00,38.795927,-77.045612,0.06707,-4.4,-4.4,11.1960,11.1960,None,100,127,89,26,0.0,670.819702,18.543001,NaN,NaN,NaN
23,2022-05-04T13:46:17+00:00,38.795896,-77.045620,0.07061,-4.4,-4.4,11.0952,11.0952,None,100,128,89,26,0.0,670.819702,18.543001,NaN,NaN,NaN
24,2022-05-04T13:46:18+00:00,38.795862,-77.045629,0.07443,-4.6,-4.6,11.0952,11.0952,None,100,129,89,26,0.0,670.819702,18.543001,NaN,NaN,NaN
25,2022-05-04T13:46:19+00:00,38.795832,-77.045637,0.07787,-4.6,-4.6,11.0952,11.0952,None,100,129,89,26,0.0,687.316589,18.543001,NaN,NaN,NaN
26,2022-05-04T13:46:20+00:00,38.795804,-77.045645,0.08111,-4.6,-4.6,11.1312,11.1312,None,100,130,89,26,0.0,687.316589,18.543001,NaN,NaN,NaN
27,2022-05-04T13:46:21+00:00,38.795776,-77.045655,0.08430,-4.6,-4.6,11.1960,11.1960,None,100,130,90,26,0.0,687.316589,18.543001,NaN,NaN,NaN
28,2022-05-04T13:46:22+00:00,38.795748,-77.045666,0.08755,-4.6,-4.6,11.2968,11.2968,None,100,130,90,26,0.0,687.316589,18.543001,NaN,NaN,NaN
29,2022-05-04T13:46:23+00:00,38.795720,-77.045676,0.09083,-4.6,-4.6,11.3328,11.3328,None,100,131,90,25,0.0,687.316589,18.543001,NaN,NaN,NaN
30,2022-05-04T13:46:24+00:00,38.795692,-77.045690,0.09411,-4.6,-4.6,11.3328,11.3328,None,100,132,89,25,0.0,711.281433,18.543001,NaN,NaN,NaN