In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import folium

In [2]:
df = pd.read_csv('data/df_full2.csv')
df.head()

,time,latitude,longitude,elevation,pointxyz,step_dist,mph,elevation_change,5sec_rolling_elv,second,step_feet,moving_time
0,2021-11-19 14:52:53+00:00,38.796494,-77.045523,-3.0,"(38.79649353213608, -77.04552322626114, -3.0)",0.000000,0.000000,0.0,NaN,0,0.000000,0
1,2021-11-19 14:52:54+00:00,38.796489,-77.045519,-3.0,"(38.79648883827031, -77.04551886767149, -3.0)",0.000400,1.440858,0.0,NaN,1,2.113258,1
2,2021-11-19 14:52:55+00:00,38.796473,-77.045510,-3.0,"(38.796473080292344, -77.04550998285413, -3.0)",0.001188,4.277103,0.0,NaN,2,6.273084,1
3,2021-11-19 14:52:56+00:00,38.796457,-77.045503,-3.0,"(38.79645690321922, -77.04550285823643, -3.0)",0.001180,4.249086,0.0,NaN,3,6.231993,1
4,2021-11-19 14:52:57+00:00,38.796427,-77.045499,-2.8,"(38.796427231281996, -77.04549883492291, -2.79...",0.002062,7.422258,0.2,0.04,4,10.885979,1